{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="{% static 'website/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/home.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/profile.css' %}">
</head>
<body>{% include "website/client/components/navbar.html" %}

<div class=" mainContainer {% if request.path == '/' %}homeContainer
{% elif '/profile' ==  request.path %}profileContainer

{% endif %}  ">

    {% block content %}

    {% endblock %}
</div>
</body>
</html>