{% extends "../base.html" %}
{% block content %}
<img src="{% static 'website/images/interiorSalon.jpg' %}" alt="">
  <h1>Welcome in my blog !</h1>
    <p>
    A simple blog project to practice with Django! 🖥️ Here, you can create posts and leave comments. 🌟 Feel free to sign up for a free account, share your thoughts, and engage with others’ posts. Let’s keep it respectful and enjoy this space for expression and interaction! 📚✨
    </p>
    <a href="/articles" class="button1">Voir les articles</a>
{% endblock %}