{% extends "../base.html" %}
{% block content %}
    <form method="post" enctype="multipart/form-data">

        {% csrf_token %}
         <div class="inputContainer">
                {{ form.name.label }}
                <div class="inputDiv">

                    {{ form.name }}
                </div>
            </div>  <div class="inputContainer">
                {{ form.price.label }}
                <div class="inputDiv">

                    {{ form.price }}
                </div>
            </div>    <div class="inputContainer">
                {{ form.image.label }}
                <div class="inputDiv">

                    {{ form.image }}
                </div>
            </div>
        <div class="inputContainer">
            {{ form.categories.label_tag }}
            <div class="inputDiv">

                {{ form.categories }}
            </div>
        </div>
        <input type="submit" value="Submit">
    </form>
{% endblock %}