{% extends "../base.html" %}
{% block content %}
{% load static %}

<div class="container">

<a href="/admin/product/create">Create</a>
    <h2>products</h2>
    <div class="productsWrap">
        {% for product in products %}
        {% if product.image %}

        <div class="oneProduct">
             <a href="/admin/product/get/{{ product.id }}" class="">

            <img src="{{ product.image.url }}" alt="">

            <div class="informations">

                <span>{{ product.name }}</span>
                <span>{{ product.price }}</span>
                <span>{% if product.is_hidden %}Caché{% else %} non caché {% endif %}</span>
            </div>

        </a>
        <a href="/admin/product/edit/{{ product.id }}">Edit</a>
        <a href="/admin/product/hide/{{ product.id }}">Hide</a>
   </div>
        {% endif %}
        {% endfor %}
    </div>
    <h2>Product with out image</h2>

    <div class="productsWrap">
        {% for product in products %}
        {% if not product.image %}

        <a href="/admin/product/edit/{{ product.id }}" class="oneProduct">
            <span>{{ product.name }}</span>

        </a>
        {% endif %}
        {% endfor %}
    </div>


</div>


{% endblock %}