{% extends "../base.html" %}
{% block content %}
{% load static %}

<a href="/admin/product/edit/{{ product.id }}">Edit</a>
<a href="/admin/product/hide/{{ product.id }}">Hide</a>
<a href="/admin/product/remove/{{ product.id }}">remove</a>
<div class="container">
    <h2>products</h2>
    <div class="productsWrap">


    <div class="oneProduct">

        <img src="{{ product.image.url }}" alt="">

        <div class="informations">

            <span>{{ product.name }}</span>
            <span>{{ product.price }}</span>
        </div>
  {% for cat in product.categories.all %}

        <span>{{ cat.name }}</span>
        {% endfor %}
    </div>

</div>


</div>


{% endblock %}